<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_DIR" value="./logs"/>

<!--    <property name="CONSOLE_PATTERN"-->
<!--              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>-->
<!--    <property name="FILE_PATTERN"-->
<!--              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>-->
    <!-- 패턴에 requestId 추가 -->
    <property name="CONSOLE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [rid=%X{requestId}] - %msg%n"/>
    <property name="FILE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [rid=%X{requestId}] - %msg%n"/>

    <!-- 콘솔 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 파일(rolling) -->
    <appender name="TRACE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- ✅ "현재" 파일이 곧 날짜 파일이 됨 -->
            <fileNamePattern>${LOG_DIR}/trace_log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ✅ 콘솔은 INFO -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- ✅ 파일은 DEBUG까지(내 앱 로그만) -->
    <logger name="com.chaeyeongmin" level="DEBUG" additivity="false">
        <appender-ref ref="TRACE_LOG"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- (선택) MyBatis/JDBC도 파일에 남기고 싶으면 여기도 additivity=false로 TRACE_LOG 붙이기 -->
    <logger name="org.mybatis" level="DEBUG" additivity="false">
        <appender-ref ref="TRACE_LOG"/>
    </logger>
    <logger name="org.mybatis.spring" level="DEBUG" additivity="false">
        <appender-ref ref="TRACE_LOG"/>
    </logger>
    <logger name="org.springframework.jdbc" level="DEBUG" additivity="false">
        <appender-ref ref="TRACE_LOG"/>
    </logger>

</configuration>