<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chaeyeongmin.payment_sim.infra.mybatis.mapper.BinCatalogMapper">
    <select id="findActiveBin8" resultType="com.chaeyeongmin.payment_sim.domain.model.BinCatalog">
        SELECT
            BIN AS bin,
            BRAND AS brand,
            ISSUER AS issuer,
            COUNTRY AS country,
            BIN_LEN AS binLen,
            ACTIVE_YN AS activeYn
        FROM BIN_CATALOG
        WHERE BIN = #{bin}
          AND BIN_LEN = 8
          AND ACTIVE_YN = 'Y'
        LIMIT 1;
    </select>
</mapper>
