<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chaeyeongmin.payment_sim.infra.mybatis.mapper.PaymentAttemptMapper">
    <!--
      [insertAttemptSeq]
      - PAYMENT_ATTEMPT_SEQ 에서 posTrx 기준 attempt_seq를 원자 발급한다.
      - 최초: (POS_TRX, LAST_SEQ=1)
      - 이후: LAST_SEQ = LAST_SEQ + 1
      - 반환: 발급된 LAST_SEQ
    -->
    <select id="insertAttemptSeq" resultType="int">
        INSERT INTO PAYMENT_ATTEMPT_SEQ(POS_TRX,
                                        LAST_SEQ,
                                        UPDATED_AT)
        VALUES (#{posTrx},
                1,
                CURRENT_TIMESTAMP) ON CONFLICT (POS_TRX)
            DO
        UPDATE SET LAST_SEQ = LAST_SEQ + 1,
            UPDATED_AT = CURRENT_TIMESTAMP
            RETURNING LAST_SEQ;
    </select>

    <!--
      [insertAttempt]
      - 승인 시도 정본(PAYMENT_ATTEMPT) 저장
      - UNIQUE(POS_TRX, ATTEMPT_SEQ) 위반 시 예외로 "중복 시도"를 감지한다.
    -->
    <insert id="insertAttempt">
        INSERT INTO PAYMENT_ATTEMPT (
            POS_TRX,
            ATTEMPT_SEQ,
            AMOUNT,
            CARD_BIN,
            CARD_LAST4,
            CARD_BRAND,
            CREATED_AT,
            UPDATED_AT
        )
        VALUES (
                   #{attempt.posTrx},
                   #{attempt.attemptSeq},
                   #{attempt.amount},
                   #{attempt.cardBin},
                   #{attempt.cardLast4},
                   #{attempt.cardBrand},
                   #{attempt.createdAt},
                   CURRENT_TIMESTAMP
               );
    </insert>


</mapper>