<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chaeyeongmin.payment_sim.infra.mybatis.mapper.RecoveryHistoryMapper">
    <select id="nextTryNo" resultType="int">
        SELECT COALESCE(MAX(TRY_NO), 0) + 1
        FROM PAYMENT_RECOVERY_HISTORY
        WHERE RECOVERY_TASK_ID = #{recoveryTaskId}
    </select>

    <select id="insertStarted"
            resultType="com.chaeyeongmin.payment_sim.domain.model.RecoveryHistory"
            affectData="true"
            flushCache="true">
        INSERT INTO PAYMENT_RECOVERY_HISTORY (
            RECOVERY_TASK_ID,
            TRY_NO,
            RESULT,
            ERROR_CODE,
            STARTED_AT,
            FINISHED_AT
        )
        VALUES (
            #{recoveryTaskId},
            #{tryNo},
            NULL,
            NULL,
            #{startedAt},
            NULL
        )
        RETURNING
            ID,
            RECOVERY_TASK_ID,
            TRY_NO,
            RESULT,
            ERROR_CODE,
            STARTED_AT,
            FINISHED_AT
    </select>
</mapper>
